In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sb
from scipy import stats

from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

from sklearn.neighbors import KNeighborsRegressor

from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import roc_curve, auc

from sklearn.dummy import DummyRegressor

# Load prepared data

In [2]:
save_path = "/Users/chikakoolsen/opt/python/thesis/code/tdcs_thesis/data/raw/"

## fmap mean all experiments

In [3]:
file_name = save_path+"fmap_mean.txt"
columns =['exp', 'mini_exp', 'i', 'j', 'k', 'mean0', 'mean1', 'mean2', 'mean3', 'mean4', 'theory']
data = np.loadtxt(file_name);

In [4]:
df = pd.DataFrame(data, columns=columns)
df = df.astype({"exp": int, "i": int, "j": int, "k": int, "mini_exp": int})

In [5]:
df

         exp  mini_exp   i   j   k  mean0  mean1  mean2  mean3  mean4  theory
0         36         1   0   0   0    0.0    0.0    0.0    0.0    0.0     0.0
1         36         1   0   0   1    0.0    0.0    0.0    0.0    0.0     0.0
2         36         1   0   0   2    0.0    0.0    0.0    0.0    0.0     0.0
3         36         1   0   0   3    0.0    0.0    0.0    0.0    0.0     0.0
4         36         1   0   0   4    0.0    0.0    0.0    0.0    0.0     0.0
...      ...       ...  ..  ..  ..    ...    ...    ...    ...    ...     ...
3244027   38         6  43  63  59    0.0    0.0    0.0    0.0    0.0     0.0
3244028   38         6  43  63  60    0.0    0.0    0.0    0.0    0.0     0.0
3244029   38         6  43  63  61    0.0    0.0    0.0    0.0    0.0     0.0
3244030   38         6  43  63  62    0.0    0.0    0.0    0.0    0.0     0.0
3244031   38         6  43  63  63    0.0    0.0    0.0    0.0    0.0     0.0

[3244032 rows x 11 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3244032 entries, 0 to 3244031
Data columns (total 11 columns):
 #   Column    Dtype
---  ------    -----
 0   exp       int64
 1   mini_exp  int64
 2   i         int64
 3   j         int64
 4   k         int64
 5   mean0     float64
 6   mean1     float64
 7   mean2     float64
 8   mean3     float64
 9   mean4     float64
 10  theory    float64
dtypes: float64(6), int64(5)
memory usage: 272.3 MB

## 55 fmap means

In [7]:
arr = [4, 6, 8, 10, 12]
col = []
for i in range(len(arr)):
    for j in range(1, 12):
        name = str(arr[i])+'_'+str(j+1)+'m'+str(j)
        col.append(name)

In [8]:
file_name = save_path+"fmap_mean_55.txt"
columns = ['exp', 'mini_exp', 'i', 'j', 'k']
for i in range(len(col)): 
    columns.append(col[i])
columns.append('theory')
data = np.loadtxt(file_name);

In [9]:
df_55 = pd.DataFrame(data, columns=columns)
df_55 = df_55.astype({"exp": int, "i": int, "j": int, "k": int, "mini_exp": int})

In [10]:
df_55

,exp,mini_exp,i,j,k,4_2m1,4_3m2,4_4m3,4_5m4,4_6m5,...,12_4m3,12_5m4,12_6m5,12_7m6,12_8m7,12_9m8,12_10m9,12_11m10,12_12m11,theory
0,36,1,0,0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,36,1,0,0,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,36,1,0,0,2,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,36,1,0,0,3,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,36,1,0,0,4,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3244027,38,6,43,63,59,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3244028,38,6,43,63,60,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3244029,38,6,43,63,61,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3244030,38,6,43,63,62,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3244031,38,6,43,63,63,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
df_55.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3244032 entries, 0 to 3244031
Data columns (total 61 columns):
 #   Column    Dtype
---  ------    -----
 0   exp       int64
 1   mini_exp  int64
 2   i         int64
 3   j         int64
 4   k         int64
 5   4_2m1     float64
 6   4_3m2     float64
 7   4_4m3     float64
 8   4_5m4     float64
 9   4_6m5     float64
 10  4_7m6     float64
 11  4_8m7     float64
 12  4_9m8     float64
 13  4_10m9    float64
 14  4_11m10   float64
 15  4_12m11   float64
 16  6_2m1     float64
 17  6_3m2     float64
 18  6_4m3     float64
 19  6_5m4     float64
 20  6_6m5     float64
 21  6_7m6     float64
 22  6_8m7     float64
 23  6_9m8     float64
 24  6_10m9    float64
 25  6_11m10   float64
 26  6_12m11   float64
 27  8_2m1     float64
 28  8_3m2     float64
 29  8_4m3     float64
 30  8_5m4     float64
 31  8_6m5     float64
 32  8_7m6     float64
 33  8_8m7     float64
 34  8_9m8     float64
 35  8_10m9    float64
 36  8_11m10   float64
 37  8_12m11   float64
 38  10_2m1    float64
 39  10_3m2    float64
 40  10_4m3    float64
 41  10_5m4    float64
 42  10_6m5    float64
 43  10_7m6    float64
 44  10_8m7    float64
 45  10_9m8    float64
 46  10_10m9   float64
 47  10_11m10  float64
 48  10_12m11  float64
 49  12_2m1    float64
 50  12_3m2    float64
 51  12_4m3    float64
 52  12_5m4    float64
 53  12_6m5    float64
 54  12_7m6    float64
 55  12_8m7    float64
 56  12_9m8    float64
 57  12_10m9   float64
 58  12_11m10  float64
 59  12_12m11  float64
 60  theory    float64
dtypes: float64(56), int64(5)
memory usage: 1.5 GB

# Split data

## Data 1: fmap mean all experiments

In [12]:
df.iloc[:, 5:-1]

         mean0  mean1  mean2  mean3  mean4
0          0.0    0.0    0.0    0.0    0.0
1          0.0    0.0    0.0    0.0    0.0
2          0.0    0.0    0.0    0.0    0.0
3          0.0    0.0    0.0    0.0    0.0
4          0.0    0.0    0.0    0.0    0.0
...        ...    ...    ...    ...    ...
3244027    0.0    0.0    0.0    0.0    0.0
3244028    0.0    0.0    0.0    0.0    0.0
3244029    0.0    0.0    0.0    0.0    0.0
3244030    0.0    0.0    0.0    0.0    0.0
3244031    0.0    0.0    0.0    0.0    0.0

[3244032 rows x 5 columns]

In [13]:
X = df.iloc[:, 5:-1].values  # include i,j,k
y = df['theory'].values

X1_train, X1_test, y1_train, y1_test = train_test_split(
    X, y, test_size=0.3, random_state=0)

In [14]:
print(X.shape)
print(y.shape)
print(X1_train.shape)
print(y1_train.shape)
print(X1_test.shape)
print(y1_test.shape)

(3244032, 5)
(3244032,)
(2270822, 5)
(2270822,)
(973210, 5)
(973210,)

## Data2: One mini experiment

In [15]:
df_train = df[(df['exp']==38) & (df['mini_exp']!=6)]
df_test = df[(df['exp']==38) & (df['mini_exp']==6)]

In [16]:
df_train.iloc[:, 5:-1]

         mean0  mean1  mean2  mean3  mean4
2162688    0.0    0.0    0.0    0.0    0.0
2162689    0.0    0.0    0.0    0.0    0.0
2162690    0.0    0.0    0.0    0.0    0.0
2162691    0.0    0.0    0.0    0.0    0.0
2162692    0.0    0.0    0.0    0.0    0.0
...        ...    ...    ...    ...    ...
3063803    0.0    0.0    0.0    0.0    0.0
3063804    0.0    0.0    0.0    0.0    0.0
3063805    0.0    0.0    0.0    0.0    0.0
3063806    0.0    0.0    0.0    0.0    0.0
3063807    0.0    0.0    0.0    0.0    0.0

[901120 rows x 5 columns]

In [17]:
X2_train = df_train.iloc[:, 5:-1].values
y2_train = df_train['theory'].values

X2_test = df_test.iloc[:, 5:-1].values
y2_test = df_test['theory'].values

In [18]:
print(X2_train.shape)
print(y2_train.shape)
print(X2_test.shape)
print(y2_test.shape)

(901120, 5)
(901120,)
(180224, 5)
(180224,)

## Data3: 55 means

In [19]:
df_55.iloc[:, 5:-1]

,4_2m1,4_3m2,4_4m3,4_5m4,4_6m5,4_7m6,4_8m7,4_9m8,4_10m9,4_11m10,...,12_3m2,12_4m3,12_5m4,12_6m5,12_7m6,12_8m7,12_9m8,12_10m9,12_11m10,12_12m11
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3244027,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3244028,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3244029,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3244030,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3244031,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
X = df_55.iloc[:, 5:-1].values  # include i,j,k
y = df_55['theory'].values

X3_train, X3_test, y3_train, y3_test = train_test_split(
    X, y, test_size=0.3, random_state=0)

In [21]:
print(X.shape)
print(y.shape)
print(X3_train.shape)
print(y3_train.shape)
print(X3_test.shape)
print(y3_test.shape)

(3244032, 55)
(3244032,)
(2270822, 55)
(2270822,)
(973210, 55)
(973210,)

# KNN

## Data1: fmap mean all experiments

In [22]:
X_train = X1_train
y_train = y1_train
X_test = X1_test
y_test = y1_test

In [ ]:
model = KNeighborsRegressor()
model.fit(X_train, y_train)
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

In [ ]:
print('Intercept: %.3f' % model.intercept_)

In [ ]:
model.coef_

In [ ]:
print('MSE train: %.3f, test: %.3f' % (
        mean_squared_error(y_train, y_train_pred),
        mean_squared_error(y_test, y_test_pred)))
print('R^2 train: %.3f, test: %.3f' % (
        r2_score(y_train, y_train_pred),
        r2_score(y_test, y_test_pred)))

In [ ]:
print('Train Accuracy: %.3f' % model.score(X_train, y_train))
print('Test Accuracy: %.3f' % model.score(X_test, y_test))

## Data2: One experiment

In [ ]:
X_train = X2_train
y_train = y2_train
X_test = X2_test
y_test = y2_test

In [ ]:
model = KNeighborsRegressor()
model.fit(X_train, y_train)
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

In [ ]:
print('Intercept: %.3f' % model.intercept_)

In [ ]:
model.coef_

In [ ]:
print('MSE train: %.3f, test: %.3f' % (
        mean_squared_error(y_train, y_train_pred),
        mean_squared_error(y_test, y_test_pred)))
print('R^2 train: %.3f, test: %.3f' % (
        r2_score(y_train, y_train_pred),
        r2_score(y_test, y_test_pred)))

In [ ]:
print('Train Accuracy: %.3f' % model.score(X_train, y_train))
print('Test Accuracy: %.3f' % model.score(X_test, y_test))

## Data3: 55 fmean

In [ ]:
X_train = X3_train
y_train = y3_train
X_test = X3_test
y_test = y3_test

In [ ]:
model = KNeighborsRegressor()
model.fit(X_train, y_train)
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

In [ ]:
print('Intercept: %.3f' % model.intercept_)

In [ ]:
model.coef_

In [ ]:
print('MSE train: %.3f, test: %.3f' % (
        mean_squared_error(y_train, y_train_pred),
        mean_squared_error(y_test, y_test_pred)))
print('R^2 train: %.3f, test: %.3f' % (
        r2_score(y_train, y_train_pred),
        r2_score(y_test, y_test_pred)))

In [ ]:
print('Train Accuracy: %.3f' % model.score(X_train, y_train))
print('Test Accuracy: %.3f' % model.score(X_test, y_test))